@import url('https://fonts.googleapis.com/css?family=Open+Sans');


#registro {
  position: relative;
  z-index: 1;
  background: #3d3d3d;
  width: 560px;
  margin: 100px auto;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

input[type="text"], input[type="email"], input[type="password"] {
  margin: 0 0 15px;
}

input[type="submit"] {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  outline: 0;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px 0px;
  background: #e84c3d;
}

h1 {
  color: #FFFFFF;
  padding-bottom: 20px;
}

#administrar {
  text-align: start;
}

#administrar label {
  color: #FFFFFF;
  margin-right: 10px;
}
