
  <main class="form-signin mx-auto">
    <form id="inicioSesion" #InicioSesion="ngForm" (ngSubmit)="onSubmit(InicioSesion)">
      <h1 class="h3 mb-3 fw-normal">Iniciar Sesión</h1>

      <div class="form-floating">
        <input type="email" name="email" class="form-control" id="floatingInput" #Correo="ngModel"
        [(ngModel)]="usuario.Correo" placeholder="name@example.com" required>
        <label for="floatingInput">Email</label>
        <span class="alert alert-danger d-block mt-2 mb-4" *ngIf="Correo.touched && !Correo.valid">El email es obligatorio</span>
      </div>
      <div class="form-floating">
        <input type="password" name="password" class="form-control" id="floatingPassword" #Contrasenya="ngModel"
        [(ngModel)]="usuario.Contrasenya" placeholder="Password" required>
        <label for="floatingPassword">Contraseña</label>
        <span class="alert alert-danger d-block mt-2 mb-4" *ngIf="Contrasenya.touched && !Contrasenya.valid">La contraseña es
          obligatoria</span>
      </div>

      <div class="checkbox mb-3">
        <span id="mensaje"></span>
        <label>
          <input type="checkbox" value="remember-me" id="recuerdame" name="recuerdame" #Recuerdame="ngModel" [(ngModel)]="this.recuerdame"> Recuérdame
        </label>
      </div>
      <input class="w-100 btn btn-lg btn-primary" type="submit"  value="Iniciar Sesión" [disabled]="!InicioSesion.form.valid" />
      <div class="d-grid">
        <h5 class="text-center">¿No estás registrad@?</h5>
        <button class="w-100 btn btn-md btn-primary mx-auto" id="registrate" [routerLink]="['/Registrarse']">¡Registrate!</button>
      </div>
    </form>
  </main>
