#logo{
    font-family: 'Press Start 2P', cursive;
    font-size:14px;
}
.dropdown-menu li {
    position: relative;
    list-style-type: none;
}

.nav-item .submenu {
    display: none;
    position: absolute;
    right: 100%;
    top: -10px;
}

.dropdown-menu>li:hover>.submenu {
    display: block;
}
#listaMenu li a{
    color:white;
}
@keyframes animarLogo {
    0% {
      transform: translate(-100%);
    }

    100% {
      transform: translate(0%);
    }
  }
  @keyframes animarListaMenu {
    0% {
      transform: translate(100%);
    }
    50%{
        transform: translate(100%);
    }
    100% {
      transform: translate(0%);
    }
  }
  .animarLogo{
    animation-name:animarLogo;
    animation-duration:1s;
  }
  .animarMenu{
    animation-name:animarListaMenu;
    animation-duration:1.5s;
  }
#cajaLogo{
   
    border-right: 10px solid green;
    line-height: 70px;
    display: block;
    height: 70px;
    width: 17%;
    margin: 0px;
    padding: 0px;
    background-color: white;
}
.navegacion{
    padding:0px;
}
.contenedor{
    padding-left:0px;
}