
    <div class="container">
        <h2 class="text-center">Registrarse</h2>
        <form id="registro" #formularioRegistro="ngForm" (ngSubmit)="onSubmit(formularioRegistro)">
            <div class="form-row ">
              <div class="form-group col-md-6">
                <label for="inputNameUser">Nombre de usuario:</label>
                <input type="text" class="form-control" id="inputNameUser" name="nombreUsuario" #NombreUsuario="ngModel" [(ngModel)]="usuario.NombreUsuario" placeholder="Nombre de usuario" maxlength="15" pattern="[A-Za-z ]{2,15}" title="Introduce entre 2 y 15 letras" required>
              </div>
                <div class="form-group col-md-6">
                    <label for="inputName">Nombre:</label>
                    <input type="text" class="form-control" id="inputName" name="nombre" #Nombre="ngModel" [(ngModel)]="usuario.Nombre" placeholder="Nombre" maxlength="15" pattern="[A-Za-z ]{2,15}" title="Introduce entre 2 y 15 letras" required>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputSurName">Apellidos:</label>
                    <input type="text" class="form-control" id="inputSurName" name="apellidos" #Apellidos="ngModel" [(ngModel)]="usuario.Apellidos" placeholder="Apellidos" maxlength="15" pattern="[A-Za-z ]{2,15}" title="Introduce entre 2 y 15 letras" required>
                  </div>
              
              <div class="form-group col-md-6">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4" name="email" #Correo="ngModel" [(ngModel)]="usuario.Correo" placeholder="Email" required>
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Contraseña</label>
                <input type="password" class="form-control" id="inputPassword4" #Contrasenya="ngModel" [(ngModel)]="usuario.Contrasenya" placeholder="Contraseña" name="password"  pattern="[A-Za-z0-9 ]{2,15}" title="Introduce entre 2 y 15 letras y números" required>
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword42">Repite la contraseña</label>
                <input type="password" class="form-control" id="inputPassword42" placeholder="Contraseña" name="password"  pattern="[A-Za-z0-9 ]{2,15}" title="Introduce entre 2 y 15 letras y números" required>
              </div>
              <div class="form-group col-md-6">
                <label for="admin">Administrador </label>
                <select name="admin" #Administrador="ngModel" [(ngModel)]="usuario.Administrador" >
                    <option value=false selected>No</option>
                    <option value=true>Sí</option>
                </select>
              </div>
            </div>
            <p id="mensajeError" class="bg-danger w-50 mt-3 text-white"></p>
            <button type="submit" class="btn btn-primary mt-3">Registrarse</button>
            <span class="bg-success" id="resultadoRegistro"></span>
          </form>
    </div>
