<main class="form-signin mx-auto">
    <form id="crearEvento" #crearEvento="ngForm"  (ngSubmit)="onSubmit(crearEvento)">
        <h1 class="h3 mb-3 fw-normal">Crear evento</h1>
        <span class="alert alert-success d-block" *ngIf="this.eventoCreado">Evento {{this.evento.Nombre}} creado correctamente.</span>
        <div class="form-floating">
            <input type="text" name="nombreEvento" class="form-control my-3" id="floatingInput" #nombre="ngModel"
                [(ngModel)]="evento.Nombre" placeholder="Nombre del evento" required>
            <label for="floatingInput">Nombre del evento</label>
            <span class="alert alert-danger d-block mt-2 mb-4" *ngIf="nombre.touched && !nombre.valid">El nombre del
                evento es
                obligatorio</span>
        </div>
        <div class="form-floating">
            <input type="text" name="fechaHora" class="form-control my-3" id="floatingInput" #fechaHora="ngModel"
                [(ngModel)]="evento.FechaHora" placeholder="Fecha y hora del evento" pattern="^([0-2][0-9]|3[0-1])(\/|-)(0[1-9]|1[0-2])\2(\d{4})(\s)([0-1][0-9]|2[0-3])(:)([0-5][0-9])$" required>
            <label for="floatingInput">Fecha y hora evento</label>
            <span class="alert alert-danger d-block mt-2 mb-4" *ngIf="fechaHora.touched && !fechaHora.valid">La fecha y la hora del
                evento son
                obligatorias y deben seguir la siguiente estructura: dd/mm/aaaa hh:mm o dd-mm-aaaa hh:mm</span>
        </div>
        <div class="form-floating">
            <textarea name="descripcion" class="form-control my-3" id="floatingPassword" #descripcion="ngModel"
                [(ngModel)]="evento.Descripcion" placeholder="Descripción del evento" required></textarea>
            <label for="floatingPassword">Descripción del evento</label>
            <span class="alert alert-danger d-block mt-2 mb-4" *ngIf="descripcion.touched && !descripcion.valid">La
                descripción del evento es obligatoria</span>
        </div>

        <div class="checkbox mb-3">
            <select id="nombreJuego" name="nombreJuego" #nombreJuego="ngModel" [(ngModel)]="evento.NombreJuego"></select>
        </div>
        <span class="alert alert-danger d-block mt-2 mb-4" *ngIf="!this.juegoSeleccionado">Por favor, selecciona un juego</span>
        <input class="w-100 btn btn-lg btn-primary" type="submit" value="Crear evento"
            [disabled]="!crearEvento.form.valid" />
    </form>
</main>