<div class="container">
    <div class="row">
        <div class="col-11">Foto de perfil</div>
 

    <div class="col-1">
        <button class="btn btn-primary">Administrar</button>
    </div><!--Esto sólo aparecerá si el usuario es administrador-->
</div>
    <h2 class="text-center">Mi cuenta</h2>
    <div class="row ">
        <div class="col-3 text-center ml-md-auto" style="border:1px solid black; height:300px;">Próximos eventos</div>


        <div class="col-8 text-center offset-1" style="border:1px solid black; height:400px;">Información del usuario</div>
    </div>
</div>