<h2 class="text-center mb-4">Buscar usuarios</h2>
<form class="w-50 mx-auto">
    <input type="search" class="form-control form-control-dark text-center" placeholder="Busca usuarios" aria-label="Search"
      name="busqueda" #Busqueda="ngModel" [(ngModel)]="busqueda.nombreUsuario" (input)="ngOnInput()">
  </form>
  <div id="resultado" class="text-center"></div>
  <span class="alert alert-primary text-center d-block my-3 w-50 mx-auto" *ngIf="this.noEncontrado">No se han encontrado usuarios con ese nombre de usuario. Por favor, comprueba que esté bien escrito (las mayúsculas y minúsculas se tienen en cuenta).</span>

