<h2 class="text-center">Próximos eventos</h2>
<span class="alert alert-success d-none text-center" id="apuntadoCorrecto"></span>
<span class="alert alert-danger d-none text-center" id="apuntadoIncorrecto"></span>
<p class="text-center" *ngIf="this.numeroEventos == 0">De momento no hay eventos disponibles.</p> 
<div class="text-center">
    <span class="alert alert-primary d-block" *ngIf="!this.usuarioConectado">Para poder apuntarte a un evento tienes que iniciar sesión.</span>
</div>
<div class="text-center">
    <button class="btn btn-primary my-3" [routerLink]="['/CrearEvento']">Crear evento</button>
</div>

<div id="eventos" class="d-flex flex-wrap justify-content-center">
    
</div>




